<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>MainFormServlet</servlet-name>
        <servlet-class>web.servlet.MainFormServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>MainFormServlet</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>SearchProductServlet</servlet-name>
        <servlet-class>web.servlet.SearchProductServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>SearchProductServlet</servlet-name>
        <url-pattern>/searchProduct</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>CategoryFormServlet</servlet-name>
        <servlet-class>web.servlet.cart.CategoryFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CategoryFormServlet</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ProductFormServlet</servlet-name>
        <servlet-class>web.servlet.cart.ProductFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProductFormServlet</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ItemFormServlet</servlet-name>
        <servlet-class>web.servlet.cart.ItemFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ItemFormServlet</servlet-name>
        <url-pattern>/ItemForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <servlet-class>web.servlet.cart.AddItemToCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>AddItemToCartServlet</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RemoveCartServlet</servlet-name>
        <servlet-class>web.servlet.cart.RemoveCartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>RemoveCartServlet</servlet-name>
        <url-pattern>/removeCart</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <servlet-class>web.servlet.cart.UpdateCartItemServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UpdateCartItemServlet</servlet-name>
        <url-pattern>/updateCartItem</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CartFormServlet</servlet-name>
        <servlet-class>web.servlet.cart.CartFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartFormServlet</servlet-name>
        <url-pattern>/cartForm</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>SignOnFormServlet</servlet-name>
        <servlet-class>web.servlet.account.SignOnFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOnFormServlet</servlet-name>
        <url-pattern>/signonForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOnServlet</servlet-name>
        <servlet-class>web.servlet.account.SignOnServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOnServlet</servlet-name>
        <url-pattern>/signOn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignOffServlet</servlet-name>
        <servlet-class>web.servlet.account.SignOffServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOffServlet</servlet-name>
        <url-pattern>/signOff</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <servlet-class>web.servlet.account.NewAccountFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewAccountFormServlet</servlet-name>
        <url-pattern>/newAccountForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewAccountServlet</servlet-name>
        <servlet-class>web.servlet.account.NewAccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewAccountServlet</servlet-name>
        <url-pattern>/newAccount</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>EditAccountFormServlet</servlet-name>
        <servlet-class>web.servlet.account.EditAccountFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditAccountFormServlet</servlet-name>
        <url-pattern>/editAccountForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EditAccountServlet</servlet-name>
        <servlet-class>web.servlet.account.EditAccountServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EditAccountServlet</servlet-name>
        <url-pattern>/editAccount</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <servlet-class>web.servlet.order.NewOrderFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewOrderFormServlet</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewOrderServlet</servlet-name>
        <servlet-class>web.servlet.order.NewOrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>NewOrderServlet</servlet-name>
        <url-pattern>/newOrder</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <servlet-class>web.servlet.order.ViewOrderFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewOrderFormServlet</servlet-name>
        <url-pattern>/viewOrderForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ViewOrderFromListFormServlet</servlet-name>
        <servlet-class>web.servlet.order.ViewOrderFromListFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewOrderFromListFormServlet</servlet-name>
        <url-pattern>/viewOrderFromListForm</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>ViewOrderListFormServlet</servlet-name>
    <servlet-class>web.servlet.order.ViewOrderListFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ViewOrderListFormServlet</servlet-name>
        <url-pattern>/viewOrderList</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShippingFormServlet</servlet-name>
        <servlet-class>web.servlet.order.ShippingFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShippingFormServlet</servlet-name>
        <url-pattern>/shippingForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ShippingServlet</servlet-name>
        <servlet-class>web.servlet.order.ShippingServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ShippingServlet</servlet-name>
        <url-pattern>/shipping</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfirmFormServlet</servlet-name>
        <servlet-class>web.servlet.order.ConfirmFormServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ConfirmFormServlet</servlet-name>
        <url-pattern>/confirmForm</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <servlet-class>web.servlet.VerifyCodeServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>VerifyCodeServlet</servlet-name>
        <url-pattern>/verifyCode</url-pattern>
    </servlet-mapping>


    <filter>
        <filter-name>SignOnFilter</filter-name>
        <filter-class>web.filter.SignOnFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SignOnFilter</filter-name>
        <servlet-name>SignOnServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>SignOffFilter</filter-name>
        <filter-class>web.filter.SignOffFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SignOffFilter</filter-name>
        <servlet-name>SignOffServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>EditAccountFilter</filter-name>
        <filter-class>web.filter.EditAccountFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>EditAccountFilter</filter-name>
        <servlet-name>EditAccountServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>AddItemToCartFilter</filter-name>
        <filter-class>web.filter.AddItemToCartFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>AddItemToCartFilter</filter-name>
        <servlet-name>AddItemToCartServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>RemoveCartFilter</filter-name>
        <filter-class>web.filter.RemoveCartFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>RemoveCartFilter</filter-name>
        <servlet-name>RemoveCartServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>SearchProductFilter</filter-name>
        <filter-class>web.filter.SearchProductFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SearchProductFilter</filter-name>
        <servlet-name>SearchProductServlet</servlet-name>
    </filter-mapping>

    <filter>
        <filter-name>ConfirmFilter</filter-name>
        <filter-class>web.filter.ConfirmFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>ConfirmFilter</filter-name>
        <servlet-name>ConfirmFormServlet</servlet-name>
    </filter-mapping>



</web-app>